<nav class="navbar navbar-expand-sm  col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="container">
      <div style="margin-left: -10%;">
        <img src="assets/kseb.jfif" alt="loading" style="width: 130px;">
      </div>
    <ul class="navbar-nav ">
      <li class="navbar-item"><a routerLink="" class="item">AboutUs</a></li>
      <li class="navbar-item"><a routerLink="" class="item">Contact</a></li>
      <li class="navbar-item"><a (click)="onReset()" class="item">LogOut</a></li>

      
    </ul>
 

</div>

</nav>