<div class="img">
    <nav class="navbar navbar-expand-sm  col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="container">
          <div style="margin-left: -10%;">
            <img src="assets/kseb.jfif" alt="loading" style="width: 130px;">
          </div>
        <ul class="navbar-nav ">
          <li class="navbar-item"><a href="#aboutus" class="item">AboutUs</a></li>
          <li class="navbar-item"><a href="#contact" class="item">Contact</a></li>
          
          <li  class="navbar-item"><a href="index" class="item">LogOut</a></li>
        </ul>
     
   
  </div>
 
</nav>

    <div class=" jumbotron jumbotron-fluid  " style="margin-top: 3%; margin-left: 20%;margin-right: 20%;padding-right: 8%;" >
        <div class="container"  style="padding-left: 14%;  " >
           
                <h2 style="padding-left: 43%; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; color: navy;" >LOGIN</h2><br>
                <form [formGroup]="registerForm" (ngSubmit)="userLogin()">
                  <div class="form-group " style="width: 55%;  margin-left: 25%;">
                   
                      <input type="text"  formControlName="consumerNo" class="form-control" placeholder="Enter your Consumer Number"
                        [ngClass]="{'is-invalid': submitted && f.consumerNo.errors}" />
                      <div *ngIf="submitted && f.consumerNo.errors" class="invalid-feedback">
                        <div *ngIf="f.consumerNo.errors.required">
                          Consumer Number is required.
                        </div>
                      
                      </div>
                    
                  </div>
                  <div class="form-group "  style="width: 55%; margin-left: 25%;">
                    
                    
                      <input type="password" class="form-control" name="password" formControlName="password" placeholder="Enter Your Password"
                        [ngClass]="{'is-invalid':submitted && f.password.errors}" />
                      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">
                          Password is required.
                        </div>
                        <div *ngIf="f.password.errors.minlength">
                          Minimum length is 8
                        </div>
                      </div>
                    
                  </div>
               <div style="margin-left: 40%;">
                <button type="submit" class="btn btn-primary" >Login</button>
                <button type="reset" style="margin:10px ;" class="btn btn-danger" >Cancel</button>
                <p style="color: green;">New user? <a routerLink="/signup" style="color:navy !important;" > SignUp</a></p>
              </div>
               
            </form> 
          </div>
        </div>
      </div>


      <section id="aboutus" class="section section-padded">
          <div class="container">
            <div class="row text-center title">
              <h2 style="padding-top: 5%;padding-left: 40%;">About Us</h2>
              <h4 class="light muted" style="padding-top:14%;margin-left:-21%;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Electricity generation company</h4>
            </div>
            <div class="row services">
              <div class="col-md-4">
                <div class="service">
                  <div class="icon-holder">
                    <img src="img/icons/heart-blue.png" alt="" class="icon">
                  </div>
                  <h4 class="heading" style="color: midnightblue;">Intro</h4>
                  <p class="description">Kerala State Electricity Board Ltd is a public sector undertaking under the Government of Kerala, India, that generates, transmits and distributes the electricity supply in the state. Established in 1957, the agency comes under the authority of the Department of Power.</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="service">
                  
                  <h4 class="heading" style="color: midnightblue;">Details</h4>
                  <p class="description"><b>Founded</b>: 31 March 1957<br>
                  <b>Headquarters</b>: Thiruvananthapuram, Kerala, India<br>
                  <b>Owner</b>: Government of Kerala<br>
                  <b>Owner</b>>: State-owned enterprise<br>
                  <b>Area served</b>: Kerala<br>
                  <b>Purpose</b>: Electricity generation, transmission, distribution</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="service">
                  <div class="icon-holder">
                    <img src="img/icons/weight-blue.png" alt="" class="icon">
                  </div>
                  <h4 class="heading" style="color: midnightblue;">Location</h4>
                  <p class="description">Thiruvananthapuram, Kerala<br>
                      Trichur, Kerala<br>
                      Cannanore, Kerala<br>
                      Calicut, Kerala<br>
                      Kochi, Kerala.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="cut cut-bottom"></div>
        </section>
      
        <section id="contact" class="section section-padded">
            <div class="container">
              <div class="row  jumbotron text-center title">
                <h1 style="padding-top: 5%;padding-left: 40%;">Contact</h1>
                <div class="">
                <p class="description" style="margin-left: 57%;"><b>Customer Care Centre (24 x7)</b>:	1912, +91 471 2555544	<br>
                    <b>Chief Public Relations Officer</b>:	+91 471 2446480, 2514468 ,+91 9446008179	<br>
                    <b>Chief Engineer (IT) & Customer Relation</b>:	+91 471 2440045/ 2514610, +91 9496011747<br>
                    <b>Chief Engineer (HRM)</b>	+91 471 2448948/ 2514454/ , +91 9446008825, 9446008008</p>
                  </div>
                </div>
            </div>
                  <div class="cut cut-bottom"></div>
                </section>