
  
   <nav class="navbar navbar-expand-sm  col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="container">
        <div style="margin-left: -10%;">
          <img src="assets/download.jfif" alt="loading" style="width: 130px;">
        </div>
      <ul class="navbar-nav ">
        <li class="navbar-item"><a href="#aboutus" class="item">AboutUs</a></li>
        <li class="navbar-item"><a routerLink="#contact" class="item">Contact</a></li>
        <li class="navbar-item"><a routerLink="index" class="item">LogOut</a></li>
  
        
      </ul>
   
  
  </div>
  
  </nav>
  
  <div class="card">
    <div class="card-header text-center">
      <h3 class="font-weight-bold"></h3>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table-dark table">
          <thead>
            <tr>
                <th>Complaints</th>
              <th>Consumer Name</th>
              <th>Phone Number</th>                   
              <th>Date</th>
              <th>Address</th>
              
              
            </tr>
          </thead>
          <tbody *ngIf = "complaints && complaints.length"> 
            <tr *ngFor = "let i of complaints">
              <td>{{i.complaints}}</td>
              <td>{{i.name}}</td>
              <td>{{i.phoneNumber}}</td>
              <td>{{i.date}}</td>
              <td>{{i.address}}</td>
              <td>
                  <input type="submit" name="update" id="edit" class="btn btn-success" (click)="edit(i)" value="Edit"><br>
                  <input type="submit" name="delete" id="delete" class="btn btn-danger" (click)="delete(i._id)" value="Delete">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>