

<div class="img">
        <nav class="navbar navbar-expand-sm  col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="container">
                  <div style="margin-left: -10%;">
                    <img src="assets/kseb.jfif" alt="loading" style="width: 130px;">
                  </div>
                <ul class="navbar-nav ">
                  <li class="navbar-item"><a href="#aboutus" class="item">AboutUs</a></li>
                  <li class="navbar-item"><a href="#contact" class="item">Contact</a></li>
                  
                  <li  class="navbar-item"><a  href="index" class="item" >LogOut</a></li>
                </ul>
             
           
          </div>
         
        </nav>
        <div class="container">
<div class="jumbotron " style="margin-left: 20%; margin-right: 20%;">
    
            

            <div class="text-center text-dark">
                <h3>Enter Your Complaint Details</h3>
            </div>
            <div class="col-md-6 offset-md-3 ">            
                <form [formGroup]="complaintForm" (ngSubmit) = "compReg()">
                   
                    <div class="form-group row">
                        <label>Name :</label>
                        <input type="text" class="form-control" formControlName="name" placeholder="Enter Your Name"
                         [ngClass]="{'is-invalid': submitted && f.name.errors, 'is-valid': submitted && f.name.valid}">
                        <div *ngIf ="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="submitted && f.name.errors.required"> Name is required!</div>
                            
                        </div>
                        
                    </div>
                    <div class="form-group row">
                        <label>Phone Number :</label>
                        <input type="number" class="form-control" formControlName="phoneNumber" placeholder="Enter Phone Number"
                         [ngClass]="{'is-invalid': submitted && f.phoneNumber.errors, 'is-valid': submitted && f.phoneNumber.valid}">
                        <div *ngIf ="submitted && f.phoneNumber.errors" class="invalid-feedback">
                            <div *ngIf="submitted && f.phoneNumber.errors.required">Phone Number is required!</div>
                        </div>
                       
                    </div>
                    <div class="form-group row">
                        <label> Date :</label>
                        <input type="date" class="form-control" formControlName="date" placeholder="Today's Date" 
                        [ngClass]="{'is-invalid': submitted && f.date.errors, 'is-valid': submitted && f.date.valid}">
                        <div *ngIf ="submitted && f.date.errors" class="invalid-feedback">
                            <div *ngIf="submitted && f.date.errors.required"> Date required!</div>
                        </div>
                       
                    </div>
                    <div class="form-group row">
                        <label>Address :</label>
                        <textarea class="form-control" formControlName="address" placeholder="Enter Your Address"
                         [ngClass]="{'is-invalid': submitted && f.address.errors, 'is-valid': submitted && f.address.valid}"></textarea>
                        <div *ngIf ="submitted && f.address.errors" class="invalid-feedback">
                            <div *ngIf="submitted && f.address.errors.required">Address is required!</div>
                        </div>
                        
                    </div>
                    <div class="form-group row">
                        <label>Complaints :</label>
                        <textarea type="text" class="form-control" formControlName="complaints" placeholder="Type Your Complaints" 
                        [ngClass]="{'is-invalid': submitted && f.complaints.errors, 'is-valid': submitted && f.complaints.valid}"></textarea>
                        <div *ngIf ="submitted && f.complaints.errors" class="invalid-feedback">
                            <div *ngIf="submitted && f.complaints.errors.required">Field is required!</div>
                            
                        </div>
                        
                    </div>
                   
                    
                    <div style="margin-left: 30%">
                        <input type="submit" class="btn btn-success" value="Submit" name="complaints" id="submit">
                        <input type="reset" class="btn btn-danger" value="Reset" name="reset" style="margin-left: 4%;" id="reset">
                    </div>
                </form>
        </div>
    </div>
</div></div>